


@media (max-width:1508px) {
    .header-menu.right {
        margin-right: 88px;
    }
    .header-text h2 {
        margin-left: 31px;
    }
    
} 


@media (max-width:900px) {

    .header-text h2 {
        margin-top: 8px;
    }
    .header-menu.right {
        margin-right: 100px;
    }
    .header-section {
        width: 110%;
    }
    .services-icon {
        width: 50%;

    }

  
}
@media (max-width:800px){
    .banner-section p {
        font-size: 17px;
        margin-bottom: 7px;
    }
    .banner-section h2 {

        margin-bottom: 8px;
        font-size: 28px;
    }
    .banner-section {
        padding: 84px 100px;
    }

}

@media (max-width:700px) {
    .left {
        float: none;
        text-align: center;
    }
    .right {
        float: none;
        text-align: center;
    }
    .header-menu.right {
        margin-right: 12px;
    }
}

@media (max-width:650px){
    .header-text h2 {
        margin-top: 0px;
    }
    .header-menu ul li a {
        font-size: 12px;
        padding: 0px 13px;
    }
    .header-menu.right {
        margin-right: 0px;
    }
    .header-section {
        width: 100%;
    }
    .banner-section {
        padding: 55px 100px;
    }

}
@media (max-width:450px){
    .banner-section {
        padding: 21px 100px;
    }
    .banner-section h2 {
        font-size: 23px;
    }
    .banner-section p {
        font-size: 11px;
        margin-bottom: 8px;
    }
    .services-icon {
        width: 100%;
    }
}


